<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-primary btn-block" ng-hide='isLoggedIn' ng-click="login()" >
      Hello. Who are you?
    </div>
    <div class="btn btn-primary btn-block" ng-show='isLoggedIn' ng-click='logout()'>Are you Leaving?</div>
  </div>
</div>

<div class="jumbotron" ng-show='isLoggedIn'>
  <h1>Hello {{user.first_name}}</h1> 
</div>

<div class="jumbotron" ng-show='isLoggedIn'>
  <div class="row" ng-show='isLoggedIn'>
    <div class="col-xs-4" ng-show='photos' ng-repeat='p in photos.data'>
      <img src="{{p.picture}}" alt="">
    </div>
  </div>
</div>
